@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Forms.Web
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var homeNode = UmbracoHelper.Content(UmbracoHelper.ContentAtRoot().FirstOrDefault()?.Id); // Get the home node
    var navItems = homeNode?.Children.Where(x => x.Value<bool>("includeInSearch"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? Model?.GetType().Name) - Ben Randall Umbraco Demo</title>
    <link rel="stylesheet" href="~/bundle.css" />
    @Html.RenderUmbracoFormDependencies(Url)

</head>
<body>

    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand fs-1" href="/">Ben Randall - Umbraco Demo</a>
                <div class="navbar d-flex">
                    <ul class="navbar m-4">
                        @if (navItems != null)
                        {
                            foreach (var item in navItems)
                            {
                                <li class="nav-item d-inline ms-2">
                                    <a class="nav-link text-light" href="@item.Url()">@item.Name()</a>
                                </li>
                            }
                        }
                    </ul>
                    <form class="d-flex" action="/search" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="pt-4 pb-2 bg-dark bg-opacity-50 text-light">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Ben Randall Umbraco Demo</p>
        </div>
    </footer>
</body>
</html> 