@model UmbracoDemo.Models.SpaceflightApiResponse

<div class="container mb-4 card-grid">
    @foreach (var article in Model.Results)
    {
        <div class="card">
            <img src="@article.Image_url" alt="@article.Title" />
            <h3>@article.Title</h3>
            <p>@article.Summary</p>
            <a href="@article.Url">Read more</a>
        </div>
    }
</div>